* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background: #10692c1e;
  background-image: url('img/bg_numeros.png');

  background-position: 5rem 0 5rem 0;
  background-repeat: no-repeat;
  background-position: center 3.5rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #1d6449;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.text-input {
  text-align: center;
  padding-top: 2rem;
}

.text-input h3 {
  padding: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #699bf6;
  width: 80%;
  height: 100%;
  border-radius: 2px;
  margin: auto;
  color: #99ff8f;
}
.box:hover {
  opacity: 0.9;
}

#outDica {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #99ff8f;
}

.input {
  color: #1900ff;
  font-size: 1.2rem;
}

input {
  flex-direction: row;
  background-color: #fff;
  caret-color: #699bf6;
  outline-color: #1900ff;
  color: #1900ff;
  padding: 0.3rem 0;
  margin-left: 0.4rem;
  border: 1px solid lightgray;
  border-radius: 2px;
}
input:hover {
  transition: 1s;
  border-color: #1900ff;
  background-color: lightgray;
}

.number {
  padding-bottom: 2rem;
  color: #1900ff;
  font-family: cursive;
  font-size: 1.6rem;
}

.container-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#inNumero {
  width: 9rem;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

#btApostar {
  flex-direction: row;
  background: #464c84;
  color: #fff;
  width: 7rem;
  padding: 0.3rem 0;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-left: 1rem;
  cursor: pointer;
}
#btApostar:hover {
  transition: 1s;
  border: 2px solid #464c8456;
  background: -webkit-linear-gradient(top left, #464c84, #9b9da4);
  background: -moz-linear-gradient(top left, #464c84, #9b9da4);
  background: linear-gradient(to bottom right, #464c84, #9b9da4);
}

#btJogar {
  flex-direction: row;
  background-color: #1c6348;
  color: #fff;
  width: 9rem;
  padding: 0.3rem 0.3rem;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-left: 1rem;
  cursor: pointer;
}
#btJogar:hover {
  transition: 1s;
  border: 2px solid #464c8456;
  background: -webkit-linear-gradient(top left, #1d6449, #a27ecb);
  background: -moz-linear-gradient(top left, #1d6449, #a27ecb);
  background: linear-gradient(to bottom right, #1d6449, #a27ecb);
}

#outErros {
  color: #fff;
}

#outChances {
  color: #fff;
}

.dica {
  color: #fff;
  margin-left: 4px;
}

pre {
  font-size: 1.2em;
}

.fonteAzul {
  color: blue;
}
.oculta {
  display: none;
}
.exibe {
  display: inline;
}
.italico {
  font-style: italic;
}
